= form_for [@hospital, @patient, @med] do |f|
  .field
    = f.label :name
    = f.text_field :name
    
  .field
    = f.label :instructions
    %br
    = f.text_area :instruction
  .actions
    = f.submit "Update", disabled: 'disabled', class: "med_submit"

  - if @med.errors.any?
    %h2= "#{pluralize(meds.errors.count, "error")}unable to enter meds:"
    %ul
      -@med.errors.full_massages.each do |msg|
        %li= msg

  / .field
  /   = f.label :name
  /   = f.text_field :name
    
  / .field
  /   = f.label :instruction
  /   = f.text_field :instruction
  / .actions
  /   = f.submit 'Update'
