%h1 #{@med.name}
%br
%br

%h3 #{@med.description}
%div
  = link_to "Edit", edit_hospital_patient_med_path(@hospital, @patient, @med)
  = link_to "Delete", hospital_patient_med_path(@hospital, @patient, @med), method: :delete
  %br
  %br
  = link_to "Back", hospital_patient_path(@hospital, @patient, @med)