= form_for [@hospital, @patient] do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(patient.errors.count, "error")} unable to enter patient:"
      %ul
        -@patient.errors.full_massages.each do |msg|
          %li= msg

    %br
  
  %select{ :workflow_state => "workflow_state" }
    %option{:value => :wait}= "Waiting"
    %option{:value => :surgery}= "In Surgery"
    %option{:value => :xray}= "Getting X-Rays"
    %option{:value => :checkup}= "Getting Checkup"
    %option{:value => :pay_bills}= "Paying"
    %option{:value => :discharge}= "Discharged"

  %br
  %br

  .field
    = f.label :firstname 
    = f.text_field :firstname 
  .field
    = f.label :lastname 
    = f.text_field :lastname 
  .field
    = f.label :DOB
    = f.date_field :DOB, :value => Date.today
  .field
    = f.label :gender 
    = f.text_field :gender 
  .field
    = f.label :description
    = f.text_field :description
  %br
  = f.submit "Update", disabled: 'disabled', class: "patient_submit"
  