h1 Listing Patients

%table
  %tr
    %th Firstname
    %th Lastname
    %th DOB
    %th Gender
    %th Description
    %th Workflow State
    %th
    %th Change State

  - @patients.each do |patient|
    %tr
      %td= patient.firstname
      %td= patient.lastname
      %td= patient.DOB
      %td= patient.gender
      %td= patient.description
      %td= patient.workflow_state
      %td= link_to 'Show', patient
      %td= link_to 'Edit', edit_patient_path(patient)
      %td
        = link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td.workflow_state
        - if patient.workflow_state != "discharged"
          = link_to "Discharge!", discharge_patient_patient_path(patient), method: :put
        - if !['waited', 'discharged'].include?(patient.workflow_state)
          = link_to "Wait!", wait_patient_path(patient), method: :put
        - if !['checkuped', 'discharged'].include?(patient.workflow_state)
          = link_to "Checkup!", checkup_patient_path(patient), method: :put
        - if !['xrayed', 'discharged'].include?(patient.workflow_state)
          = link_to "Xray!", xray_patient_path(patient), method: :put
        - if !['surgeryed', 'discharged'].include?(patient.workflow_state)
          = link_to "Surgery!", surgery_patient_path(patient), method: :put
        - if !['paid_bills', 'discharged'].include?(patient.workflow_state)
          = link_to "Pay_bills!", pay_bills_patient_path(patient), method: :put

%br

= link_to 'New Patient', new_patient_path
