%h1 Patient File


%h4 Patient Process

%p= @patient.workflow_state

%h4 First Name:

%p= @patient.firstname 


%h4 Last Name:

%p= @patient.lastname 

%h4 Gender:

%p= @patient.gender

%h4 DOB:

%p= @patient.DOB 

%h4 Status:

%p= @patient.description 


%h3 Current Meds:
    
%a
  - @patient.meds.each do |med|
    = link_to "#{@med.name}", hospital_patient_med_path(@hospital, @patient, med)
    = link_to "Edit", edit_hospital_patient_med_path(@hospital, @patient, med)
    = link_to "Delete", hospital_patient_med_path(@hospital, @patient, med), method: :delete
    %br
    %br
%div
  = link_to "Add med", new_hospital_patient_med_path(@hospital, @patient)

%br
  %p
    - @patient.doctors.each do |doctor|
      - if doctor.name 
        = doctor.name
        = link_to "Delete Doctor", delete_doctor_hospital_patient_path(@hospital, @patient, doctor_id: doctor.id), method: :delete
  %br
%div 
  = form_for @doctor, url: create_doctor_hospital_patient_path(@hospital, @patient) do |f|
    = f.label :name, "Doctor To Be Assigned:"
    = f.text_field :name
    = f.submit
%br
    
%br


/ %p
/   %strong Firstname:
/   = @patient.firstname
/ %p
/   %strong Lastname:
/   = @patient.lastname
/ %p
/   %strong DOB:
/   = @patient.DOB
/ %p
/   %strong Gender:
/   = @patient.gender
/ %p
/   %strong status:
/   = @patient.description

/ %p
/   %strong Hospital
/   / = @patient.hospital_id
/   - if @patient.hospital
/     / @patient.hospital
/     = link_to @hospital.try(:name), hospital_path(@hospital)

/ @patient.hospital
%br

/ = link_to 'meds', hospital_patient_meds_path(@hospital,@patient)
%br
= link_to 'Back', hospital_path(@hospital)




