%h1 Patient File

%h4 First Name:

%p= @patient.firstname 


%h4 Last Name:

%p= @patient.lastname 

%h4 Gender:

%p= @patient.gender

%h4 DOB:

%p= @patient.DOB 

%h4 Status:

%p= @patient.description 
/ %p
/   %strong Firstname:
/   = @patient.firstname
/ %p
/   %strong Lastname:
/   = @patient.lastname
/ %p
/   %strong DOB:
/   = @patient.DOB
/ %p
/   %strong Gender:
/   = @patient.gender
/ %p
/   %strong status:
/   = @patient.description

/ %p
/   %strong Hospital
/   / = @patient.hospital_id
/   - if @patient.hospital
/     / @patient.hospital
/     = link_to @hospital.try(:name), hospital_path(@hospital)

/ @patient.hospital
= link_to 'Medications', hospital_patient_meds_path(@hospital,@patient)
%br
= link_to 'Back', hospital_path(@hospital)




