%h1 Charleston Hospital
%strong
  Name:
= @hospital.name
%br
%strong

%br
= link_to "Create Patient", new_hospital_patient_path(@hospital)
%ul
  /= @hospital.patients.inspect
  - @hospital.patients.each do |patient|
    %li
      = link_to "#{patient.firstname} | #{patient.lastname}", hospital_patient_path(@hospital, patient)
      |
      = link_to "Edit", edit_hospital_patient_path(@hospital, patient)
      |
      = link_to "Delete", hospital_patient_path(@hospital, patient), method: :delete
%br
%p Doctors

-@doctors.each do |f|
  %li  
    = f.name
    |
    = link_to "delete", delete_doctor_hospital_path(@hospital, @patient, doctor_id: f.id), method: :delete
    %br
%br
= form_for @doctor, url: create_doctor_hospital_path(@hospital, @patient) do |f|
  = f.label "Add New Doctor"
  %br
  = f.text_area :name
  %br
  = f.submit

%br
%li= link_to "Back", hospitals_path(@hospital)